body{
    background-color: rgb(21, 53, 44);
}
.horizontal{
    margin-left:-559px;
    margin-right:-350px
}
.about-me{
    width:990px;
    height: 400px;
    color: rgb(232, 235, 236);
    position: absolute;
    left:30%;
    top:12%;
    font-size: 1.75rem;
    font-family: "Orbitron", serif;
    animation-name: slideDown;
    animation-duration: 1s;  
}
.heading{
    margin-top:20px;
    color: rgb(232, 235, 236);
    width:25%;
    height:80px;
    position:relative;
    left:43%;
    font-size: 2em;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    animation-name: slideDown;
    animation-duration: 2s;
}
@keyframes slideDown {
    0%{
        top:-10px;
        opacity: 0;
    }
    100%{
        top:12%;
        opacity:1;
    }
    
}
.main-content{
    
    position: relative;
    top:300px;
    height:500px;
    width:1500px;
    left:300px;
    font-size: 1.4em;
    display:flex;
    justify-content:center;
    gap:100px;
    animation-name: transparency;
    animation-duration: 1s;
}
.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    font-size: 1.2em;
    color: rgb(232, 235, 236);
    font-family: "Orbitron", serif;
    justify-content: flex-start;
    animation-name: transparency;
    animation-duration: 1s;
}

.spotify-container {
    flex-grow: 1; /* Makes the Spotify container grow to fill available space */
}

iframe {
    width: 100%;  /* Fills the full width */
    height: 100%; /* Fills the full height */
    border-radius: 12px; /* Keeps the rounded corner from Spotify */
}

.head-card {
    background-color: rgb(124, 124, 124);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: transparency;
    animation-duration: 1s;
}
@keyframes transparency {
    0%{
        transform:translateX(0);
        opacity: 0;
    }
    100%{
        transform:translateX("20px");
        opacity:1;
    }
}

